header {
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    margin-bottom: auto;
    animation: header 0.5s ease-in;
    z-index: 2 !important;
    border-radius: 0px !important;
}

#logo {
    transition: all 0.2s ease-in;
}

#logo:hover {
    scale: 102%;
    rotate: -2deg;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.212));
}

.headerLink {
    position: relative;
    color: var(--color-primary);
    font-weight: bold;
    transition: all 0.2s;
    display: flex;
}

.headerLink:hover {
    color: rgb(71, 150, 71);
    scale: 108%;
}

@keyframes header {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

#dropdownMenu {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-radius: 0px;
    left: 0px;
    top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}