@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }

  .animate-fadeOut {
    animation: fadeOut 0.3s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 0;
      transform: translateY(calc(-100vh + 100px));
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 900;
  src: url('/fonts/Quicksand-VariableFont_wght.ttf');
}

:root {
  color-scheme: cozytheme;
  --color-base-100: #86490f;
  --color-base-content: #f2efe5;
  --color-primary: #af6d4f;
  --color-primary-content: #f2efe5;
  --color-secondary: #e7be87;
  --color-secondary-content: #442b13;
  --color-accent: #C9F2C7;
  --color-neutral: #f2efe5;
  --color-info: #C4DBF6;
  --color-success: #A3E4D7;
  --color-warning: #F9E79F;
  --color-error: #F1948A;
  scrollbar-color:
    color-mix(in oklch, currentColor 0%, #86490f) #3b240f;
  scrollbar-width: thin;
}

nextjs-portal {
  display: none !important;
}

@keyframes hideOverflow {
  0% {
    overflow: hidden;
  }

  100% {
    overflow: visible;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  animation: hideOverflow 1.7s;
}

main {
  z-index: 1;
  margin: 1.3rem auto;
}

.bg-base-100 {
  background-image: url("/images/background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#animation-godown {
  animation: godown 0.9s ease-in-out;
}

#animation-goup {
  animation: goup 1.5s ease-in-out forwards;
}

#point-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: -20px;
}

#rope-container {
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  top: -126px;
  width: 45.2vw;
  left: 25.9%;
  right: 25%;
}

.rope {
  height: 50vh;
  width: 6px;
  background-color: #af6d4f;
  border: #6e3c0d 2px solid;
}

.point {
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: inset 0 0 1px black,
    1.5px 1.5px #3b240f, -1.5px -1.5px #3b240f,
    1.5px -1.5px #3b240f, -1.5px 1.5px #3b240f;
  background-color: #c48b57;
  border: #6e3c0d 3px solid;
}

.font-cozy_title {
  text-shadow: 1.6px 1.6px #3b240f,
    -1.6px -1.6px #3b240f,
    1.6px -1.6px #3b240f,
    -1.6px 1.6px #3b240f;
}

.font-cozy_text {
  text-wrap: pretty;
}

.bg-secondary {
  z-index: 1;
  border-radius: 10px;
  box-shadow: inset -2px -2px 15px rgba(0, 0, 0, 0.377),
    2px 2px 0 #3b240f, -2px -2px 0 #3b240f,
    -2px 2px 0 #3b240f, 2px -2px 0 #3b240f,
    inset 2px 2px 0 #3b240f, inset -2px -2px 0 #3b240f,
    inset -2px 2px 0 #3b240f, inset 2px -2px 0 #3b240f;
  border: #86490f 5px solid;
  background: linear-gradient(var(--color-secondary) 10%, #e4a154 95%);
}

.btn-primary {
  background-color: #86490f;
  border-radius: 10px;
  box-shadow: inset 0 2px rgba(255, 191, 16, 0.226);
  color: #ffd88f;
  border-color: #492c11;
  border-width: 3px;
  font-family: 'Quicksand';
  transition: all 0.1s ease-in;
}

.btn-primary:disabled {
  filter: grayscale(100%);
}

.btn-primary:not(:disabled):hover {
  scale: 1.02;
  background-color: rgb(61, 150, 61);
  color: whitesmoke;
}

.btn-primary:active {
  scale: 0.95;
}

@keyframes godown {
  0% {
    transform: translateY(-60%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes goup {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  rotate: 180deg;
  z-index: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 10px;
  height: 20px;
  background: linear-gradient(to right, #957942 0% 45%, #826A37 45% 55%, #957942 55% 100%);
  border: solid 5px #826A37;
  border-radius: 100%;
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li div {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  scale: 0.8;
  background: linear-gradient(#957942, #95794200);
  border-bottom: none;
  border-radius: 100%;
  bottom: 10%;
}

.circles li p {
  position: relative;
  display: block;
  margin: auto;
  width: 10%;
  height: 50%;
  scale: 0.8;
  background: #826A37;
  border-bottom: none;
  bottom: 10%;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 40px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 10px;
  height: 20px;
  filter: blur(1px);
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 10px;
  height: 20px;
  filter: blur(1px);
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 30px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 10px;
  height: 20px;
  filter: blur(1px);
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 55px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 75px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 12px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 7px;
  height: 15px;
  animation-delay: 2s;
  filter: blur(1px);
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 75px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-80vh) translateX(20vw) rotate(720deg);
    opacity: 0;
  }

}

#errorSection {
  animation: fadeIn 0.3s ease-in;
}

@keyframes spawn {
  0% {
    scale: 0.8;
    opacity: 0.5;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}